
<h1>Photo Details</h1>

<p>
  <%= @caption %>
</p>

<img src="<%= @source %>">

<p>
  <%= @elapsed %> seconds ago
</p>

<a href="/photos" class="btn btn-default">
  Go back
</a>

<a href="/photos/<%= @the_id %>/edit" class="btn btn-default">
  Edit
</a>

<a href="/delete_photo/<%= @the_id %>" class="btn btn-default">
  Delete
</a>

